<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar">
  </div>

  <%# isSelf replaces profile._id.equals(user.profile._id) %> 
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <h2>Add a Bio!</h2>
    <form action="/profiles/<%= profile._id %>/icons" method="POST">
      <label>
        Name:
        <input 
        type="text" 
        name="name" 
        autocomplete="off">
      </label>

      <label>
        Trade:
        <input 
        type="text" 
        name="trade" 
        autocomplete="off">
      </label>

      <label>
        Years of Experience:
        <input 
        type="number" 
        name="years" 
        autocomplete="off">
      </label>

      <br>

    <label>
      Current Location:
      <input 
      type="text" 
      name="location" 
      autocomplete="off">
    </label>

    <label>
      Are you in the Union, if so, what Local:
      <input 
      type="number" 
      name="local" 
      autocomplete="off">
    </label>

      <br>
      <button type="submit">Add</button>
    </form>

  <% } %>
  <% if (profile.icons.length) { %>
    <%# THERE ARE ICONS FOR THIS PROFILE %> 
    <h2>
      <%= isSelf ? "Here is your Bio" : `${profile.name}'s Bio:` %>  
    </h2>
    <% profile.icons.forEach(icon => { %>
      <h3>
        <%= getRandomIcon() %>
        <%= profile.name %> has been a <%= profile.trade %> for <%= profile.years %> years. They are  currently living in <%= profile.location %> and are a member of Local <%= profile.local %>.
        <% if (isSelf) { %>
          
          <form 
            action="/profiles/icons/<%= icon._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;">

            <button type="submit"> Redo <%= profile.name %></button>
          </form>
        <% } %>
      </h3>
    <% }) %>
  <% } else { %>
    <%# NO ICONS FOR THIS PROFILE %>  
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any icons! 
    </h2>
  <% } %>
</main>

<%- include('../partials/footer') %>