<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id ="selfProfileSection">
<main>
  <div>
    <img id="profileShowAvatar"
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar">
  </div>

  <%# isSelf replaces profile._id.equals(user.profile._id) %> 
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <% if (isSelf) { %>
    <form 
    action="/profiles/<%= profile._id %>/icons" method="POST">
      <label>
        Name:
        <input id="bioNameInput"
        type="text" 
        name="name" 
        autocomplete="off">
      </label>

      <label>
        Trade:
        <input id="bioTradeInput"
        type="text" 
        name="trade" 
        autocomplete="off">
      </label>

      <label>
        Years of Experience:
        <input id="bioYearsInput"
        type="number" 
        name="years" 
        autocomplete="off">
      </label>

      <br>
    <label>
      Current Location:
      <input id="bioLocationInput"
      type="text" 
      name="location" 
      autocomplete="off">
    </label>

    <label>
      Are you in the Union, if so, what Local:
      <input id="bioLocalInput"
      type="number" 
      name="local" 
      autocomplete="off">
    </label>

      <br>
      <button id ="bioAddBtn" type="submit">Add your Bio</button>
    </form>

  <% } %>
  <% if (profile.icons.length) { %>
    <%# THERE ARE ICONS FOR THIS PROFILE %> 
    <h2>
      <%= isSelf ? "Here is your Bio:" : `${profile.name}'s Bio:` %>  
    </h2>
    <% profile.icons.forEach(icon => { %>
      <h3>
        <%= getRandomIcon() %>
        <%= profile.name %> has been a <%= icon.trade %> for <%= icon.years %> years. They are  currently living in <%= icon.location %> and are a member of Local <%= icon.local %>.
        <% if (isSelf) { %>
          
          <form 
            action="/profiles/icons/<%= icon._id %>?_method=DELETE"
            method="POST"
            style="display: inline-block;">

            <br>
            <button id ="bioSubmitBtn" type="submit">Redo Bio for <%= profile.name %></button>
          </form>
        <% } %>
      </h3>
      <br>
    <% }) %>
  <% } else { %>
    <%# NO ICONS FOR THIS PROFILE %>  
    <h2>
      <%= isSelf ? "You don't" : `${profile.name} doesn't` %> have any icons! 
    </h2>
  <% } %>
</main>
</section>
<%- include('../partials/footer') %>