<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Welcome, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <p id="intro-text">
    This tracker is used to offer tips & tricks for those in the Construction industry. 
    <br>
    <br>
    The advice you give can be directed towards people thinking about getting into <br>
    Construction, Apprentices, Journeyman and beyond!
    <br>
    <br>
    I know when I first started out as a Union Carpenter, I had a lot of questions! 
    <br>I also sometimes didn’t know what questions to even ask. 
    <br>
    <br>
    Let’s pay it forward and reach back to lift as we climb.
    <br>
    <br>
    Get started by creating a Profile!
    <br>
    <br>
    “Lifting as we climb, onward and upward we go, struggling and striving 
    <br>and hoping that the buds and blossoms of our desires will burst 
    <br>into glorious fruition ere long…”
    <br>
    <br>
    -Mary Church Terrell (1863-1954) 
    <br>
    Suffragist and Civil Rights Champion
  </p>

</main>

<%- include('./partials/footer') %>
