<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Advice!</h1>
  <form action="/advices/<%= advice._id %>?_method=PUT" method="POST">
    
    <label>
      Advice:
      <input 
        type="text" 
        name="text"
        value="<%= advice.text %>"
        autocomplete="off">
    </label>


    <label for="tags-input">Tags:</label>
    <select name="tags">
      <option value="Weather">Weather</option>
      <option value="Hygiene">Hygiene</option>
      <option value="Physical Health">Physical Health</option>
      <option value="Tools">Tools</option>
      <option value="Apprentice-Tip">Apprentice Tip</option>
      <option value="Journeymen-Tip">Journeymen Tip</option>
    </select>



    <label>
      Helpful:
      <input 
        type="checkbox" 
        name="helpful"
        <%= advice.helpful ? "checked" : "" %> 
      >
    </label>
    <button type="submit">Edit Advice</button>
  </form>
</section>

<%- include('../partials/footer') %>