<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<!-- <section>
  <h1> View of Advice</h1>

  <ul>
    <% advices.forEach(advice => { %>
      <li>
        <a href="/advices/<%= advice._id %>"><%= advice.text %></a>
      </li>
    <% }) %>
  </ul>
	
</section> -->

<section>
  <h1>Share Advice:</h1>
  <% if (user) { %>
    
    <form id="new-form" action="/advices" method="POST">
      <label>
        Advice:
        <input id = adviceInput
        type="text" 
        name="text"
        value= "" 
        maxlength = "200" 
        autocomplete="off">
      </label>
  
        
        <label for="tags-input">Tags:</label>
        <select name="tags">
          <option value="Weather">Weather</option>
          <option value="Hygiene">Hygiene</option>
          <option value="Physical Health">Physical Health</option>
          <option value="Tools">Tools</option>
          <option value="Apprentice-Tip">Apprentice Tip</option>
          <option value="Journeymen-Tip">Journeymen Tip</option>
        </select>
        <label>
          Helpful:
          <input 
          type="checkbox" 
          name="helpful">
        </label>
      <button type="submit"> Add Advice</button>
    </form>
  <% } %>

  <h2>All the Advice!</h2>
  <ul>
    <% advices.forEach(advice => { %>
      <li>
        <a href="/advices/<%= advice._id %>"><%= advice.text %></a>
        is <%= advice.helpful ? 'helpful' : 'not helpful' %></li>
    <% }) %>
  
  </ul>
</section>

<%- include('../partials/footer') %>