<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<link rel="stylesheet" href="/stylesheets/style.css" />

<section>
  <h1>We all have some sort of advice for people starting in the Construction Industry, share yours here:</h1>
  <% if (user) { %>
    <h3>Add Advice!</h3>
    <form action="/advices" method="POST">
      <label>
        Advice:
        <input type="text" name="advice" value= "" maxlength = "200" autocomplete="off">
      </label>
        
        <label for="tags-input">Tags:</label>
        <select name="tags">
          <option value="Weather">Weather</option>
          <option value="Hygiene">Hygiene</option>
          <option value="Physical Health">Physical Health</option>
          <option value="Tools">Tools</option>
          <option value="Apprentice-Tip">Apprentice Tip</option>
          <option value="Journeymen-Tip">Journeymen Tip</option>
        </select>
        <label>
          Helpful:
          <input type="checkbox" name="helpful">
        </label>
      <button type="submit">Add </button>
    </form>
  <% } %>

  <h2>All the Advice!</h2>
  <ul>
    <% advices.forEach(advice => { %>
      <li>
        <a href="/advices/<%= advice._id %>"><%= advice.name %></a>
        is <%= advice.helpful ? 'helpful' : 'not helpful' %></li>
    <% }) %>
  
  </ul>
</section>

<%- include('../partials/footer') %>