<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section id ="adviceSection">
  <h1>Share Advice:</h1>
  <% if (user) { %>
    
    <form id="new-form" action="/advices" method="POST">
      <label>
        Advice:
        <input id = adviceInput
        type="text" 
        name="text"
        value= "" 
        maxlength = "200" 
        autocomplete="off">
      </label>
  
        <br>
        <label for="tags-input">Tags:</label>
        <select id="tagsAdviceIndexInput" name="tags">
          <option value="Apprentice-Tip">Apprentice Tip</option>
          <option value="Hygiene">Hygiene</option>
          <option value="Jobsite">Jobsite Related</option>
          <option value="Journeymen-Tip">Journeymen Tip</option>
          <option value="Mental Health">Mental Health</option>
          <option value="Physical Health">Physical Health</option>
          <option value="Tools">Tools</option>
          <option value="Weather">Weather</option>
          <option value="Work Clothes">Work Clothes</option>
        </select>
        <br>
        <br>
        <p>Press "Command" and click above button to select multiple Tags at once.</p>
        <br>
        <input id="addMultipleTags" type="button" onclick="multipleFunc()" value="Select Multiple Tags">
        <br>
        <br>
        <p>When finished, add it to share with the Community.</p>
      <button id ="addAdviceBtn" type="submit"> Add Advice</button>
    </form>

    <script>
      function multipleFunc() {
        document.getElementById("tagsAdviceIndexInput").multiple = true;
      }
    </script>

  <% } %>
<br>
<hr>
<br>
  <h2>Everyone's Advice:</h2>
  <p>Click on the Advice below to read more and rate it.</p>
  <br>
  <ul>
    <% advices.forEach(advice => { %>
      <li id="adviceOutputIndex">
        <a id="adviceIndexText" href="/advices/<%= advice._id %>"><%= advice.text %></a>
          <p>has an average rating of <%= advice.avg %> Stars!</p>
      </li>
    <% }) %>
  
  </ul>
</section>

<%- include('../partials/footer') %>